body {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: stretch;
}

#title-container {
    display: flex;
    justify-content: center;
    background-color: yellowgreen;
}

#calculator-container {
    display: flex;
    background-color: yellow;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: green;
    border-radius: 16px;
    padding: 16px;
    gap: 8px;
}

.calculator * {
    font-size: xx-large;
}

.screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightcyan;
    border-radius: 8px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellowgreen;
    padding: 8px;
    border-radius: 8px;
}

.number-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.operations-container {
    display: grid;
}

