body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#calculator-container {
    display: flex;
    background-color: yellow;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: green;
    padding: 16px;
}

.screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellow;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellowgreen;
    padding: 8px;
}

.number-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.operations-container {
    display: grid;
}

